# Question No_1 Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a

In [8]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
print(a)

6

when the last 'a' statement is calculated then answer will be 6, step by b() given below:
a=0 (global variable)

first b() = 2 as def c(a) is returing a+2 which is 0+2= 2
second b() =4 (adding 2 again in the previous return value(2+2) 
third b() = 6 (adding 2 again in the previous return value(4+2)

# Question No_2 Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
> fileLength('midterm.py')
284
>fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
 fileLength('midterm.py')
358
fileLength('idterm.py')
File idterm.py not found.

In [6]:
def file_length(file_name):
    
    #file_name=input('Enter the file name:')
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:
        # execute only if FileNotFoundError occured
        print ('file {} not found'.format(file_name))
        
file_length ('midterm.py') 
file_length ('ioterm.py')

0
file ioterm.py not found

# Question_3

In [4]:
class  Marsupial:
    def __init__(self):
        self.content=[]
        
    def put_in_pouch(self,a):
        self.content.append(a)
        
    def pouch_contents(self):
        print(self.content)

In [5]:
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [37]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        print(f'I am a Kangaroo located at coordinates {self.x,self.y}')
    def jump(self,dx,dy):
        previous_x=self.x
        previous_y=self.y
        self.x=previous_x+dx
        self.y=previous_y+dy
        print((self.x,self.y))
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates({},{})' .format(self.x,self.y)

In [38]:
k = Kangaroo(0,0)
#I am a Kangaroo located at coordinates (0,0)

I am a Kangaroo located at coordinates (0, 0)

In [39]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [40]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

(1, 0)
(2, 0)
(3, 0)

In [41]:
print (k)

I am a Kangaroo located at coordinates(3,0)

# Question_4

In [8]:
def  collatz(n):
    if n==1:
        return n
    else:
        if(n % 2) == 0:
            n //= 2
            print (n)
        else:
            n=(3*n)+1
            print (n)
    return collatz(n)

In [43]:
collatz(1)

1

In [9]:
collatz(10)

5
16
8
4
2
1

1

# Question_5

In [6]:
def binary(n):
    if n==0 or n==1:
        return n
   
    else:
       # n=bin(n) #this function returning 0b prefix
       
        n= format(n,"b")
        
        
        print(n)  
        
    #return binary(n)

In [10]:
binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

# Question_6

In [6]:
from urllib.parse import urljoin
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    a=False
    b=False
    def handle_starttag(self, tag, attrs):
        if tag =="h1":
            self.a=True
        if tag =="h2":
            self.a=True

    def handle_endtag(self, tag):
        if tag =="h1":
            self.a=False
        if tag =="h2":
            self.a=False


    def handle_data(self, data):
        level=3
        if self.a:
            print ('\t'*0  + data)
            
            #print ((' ' * 0)*level,  data)
       # if self.b:
            #print ((' ' * 4)*level, data)
            #print ('\t' *3 + data)
            #print('\n{:65}'.format('data')

In [16]:
hp=HeadingParser()
infile = open ('w3c.html')
content = infile.read()
infile.close()
hp.feed(content)

W3C Mission
Principles

# Question_7

In [18]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

    
def analyzer (url):
    print('\n\n',url)
    content=urlopen(url).read().decode()
    collector=collector(url)
    collector.feed (content)
    urls = collector.getLinks()
    
    print('\n{:45} {:10}'.format('url','link'))
    for link in urls:
        print('\n{:45} {:10}'.format('url','link')
    return urls

SyntaxError: invalid syntax (Temp/ipykernel_35152/3404974033.py, line 16)

In [17]:
visited =set()
def crawl2(url):
    global visited
    visited.add(url)
    links=analyzer(url)
    for link in links:
        if link not in visited:
            try:
                crwal2(link)
            except:
                pass

# Question_8

In [1]:
!pip install --user --upgrade ipython-sql

Requirement already satisfied: ipython-sql in c:\users\anchal shukla\appdata\roaming\python\python39\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\anchal shukla\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\users\anchal shukla\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: matplotlib-inline in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: colorama in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: jedi>=0.16 in c:\users\anchal shukla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\anchal shukla\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\anchal shukla\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anchal shukla\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

# Question_8

In [4]:
%%sql

CREATE TABLE Assignment (CITY Varchar(20), COUNTRY Varchar(50),SEASON Varchar(30),TEMPRATURE float, RAINFALL float)

 * sqlite://
Done.

[]

In [5]:
%%sql

Insert into Assignment Values ('Mumbai','India','Winter',24.8,5.9)

 * sqlite://
1 rows affected.

[]

In [6]:
%%sql

Insert into Assignment Values ('Mumbai','India','Spring',28.4 ,16.2),
 ('Mumbai','India','Summer',27.9, 1549.4),('Mumbai','India','Fall',27.6, 346.0),('London','United Kingdom','Winter',4.2,207.7),
    ('London','United Kingdom','Spring',8.3,169.6), ('London','United Kingdom','Summer',15.7,157.0), ('London','United Kingdom','Fall',10.4,218.5),
    ('Cairo','Egypt','Winter',13.6, 16.5), ('Cairo','Egypt','Spring',20.7, 6.5),('Cairo','Egypt','Summer',27.7, 0.1),('Cairo','Egypt','Fall',22.2, 4.5)

 * sqlite://
11 rows affected.

[]

# 8(a)

In [8]:


%%sql

Select TEMPRATURE from Assignment

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# 8(b)

In [10]:
%%sql

Select DISTINCT CITY from Assignment

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

# 8(c)

In [11]:

%%sql

Select * from Assignment where COUNTRY='India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# 8(d)

In [12]:
%%sql

Select * from Assignment where SEASON='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# 8(e)

In [9]:
%%sql

Select CITY,COUNTRY,SEASON from Assignment where RAINFALL BETWEEN 200.0 and 400.0

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

# 8(f)

In [9]:
%%sql

Select CITY,COUNTRY,RAINFALL from Assignment where RAINFALL >=20.0 Order by RAINFALL

 * sqlite://
Done.

[('London', 'United Kingdom', 157.0),
 ('London', 'United Kingdom', 169.6),
 ('London', 'United Kingdom', 207.7),
 ('London', 'United Kingdom', 218.5),
 ('Mumbai', 'India', 346.0),
 ('Mumbai', 'India', 1549.4)]

# 8(g)

In [14]:
%%sql

Select SUM(RAINFALL) from Assignment where CITY='Cairo'

 * sqlite://
Done.

[(27.6,)]

# 8(h)

In [7]:
%%sql

Select DISTINCT SEASON, SUM(RAINFALL) as "Total_Rainfall" from Assignment group by SEASON

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question_9

In [46]:
# 9 (a,b,c)

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
list_one=[]


for i in range(len(words)):

    words[i] = words[i].upper()
print (words)

for i in range(len(words)):

    words[i] = words[i].lower()
print (words)

for i in range(len(words)):

    words[i] = len(words[i])
print (words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [48]:
# 9 (d)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
def fun(i):
    return [i.upper(),i.lower(),len(i)]
for i in range(len(words)):
    words[i] = fun(words[i])
print(words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [45]:
# 9 (e)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
array=[]
for i in range(len(words)):
    if(len (words[i]) >= 4): 
        array.append(words[i])
print(array)

['quick', 'brown', 'jumps', 'over', 'lazy']